<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Link</title>
  </head>
  <body>
    <form id="form-add-link">
      <label for="title">Titulo:</label>
      <input type="text" id="title" name="title" required>
      <br>
      <label for="url">Link:</label>
      <input type="text" id="url" name="url" required>
      <br>
      <button type="submit">Adicionar Link</button>
    </form>
    <script>
      const form = document.getElementById("form-add-link");
      form.addEventListener("submit", event => {
        event.preventDefault();
        const title = form.elements.title.value;
        const url = form.elements.url.value;
        const data = { title, url };
        fetch("http://localhost:8080/api/articles/api/links", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            alert("Link adicionado com sucesso!");
          })
          .catch(error => {
            console.error(error);
            alert("Ocorreu um erro ao adicionar o link.");
          });
      });
    </script>
  </body>
</html>
